<!DOCTYPE html>
<html>
  <head>
    <title>Payments</title>
    <link href="/common/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="payment-page">
      <span class="payment-header">
      <h1>Payments</h1>
      <form method="GET" action="/admin-payments">
    <label for="paymentStatus">Filter by Payment Status:</label>
    <select id="paymentStatus" name="paymentStatus">
        <option value="unpaid" {{#if (eq paymentStatus "unpaid")}}selected{{/if}}>Unpaid</option>
        <option value="paid" {{#if (eq paymentStatus "paid")}}selected{{/if}}>Paid</option>
    </select>
    <button type="submit">Filter</button>
</form>
      </span>
      <table>
        <thead>
          <tr>
            <th>Payment ID</th>
            <th>Booking ID</th>
            <th>Guest ID</th>
            <th>Amount</th>
            <th>Status</th>
             <th>Payment Date</th>
          </tr>
        </thead>

        <tbody>
          {{#each payments}}
            <tr>
              <td>{{this._id}}</td>
              <td>{{this.bookingID}}</td>
              <td>{{this.guestID}}</td>
              <td>{{this.amount}}</td>
              <td>
                <form method="POST" action="/admin-update-payment-status/{{_id}}/{{bookingID}}">
                <select name="status" onchange="this.form.submit()">
                    <option value="paid" {{#ifEquals status 'paid'}}selected{{/ifEquals}}>Paid</option>
                    <option value="unpaid" {{#ifEquals status 'unpaid'}}selected{{/ifEquals}}>Unpaid</option>
                </select>
                 </form>
              </td>
              <td>
              <script>
                if(new Date("{{this.paidDate}}").toLocaleString() === "Invalid Date"){
                  document.write("-");
                } else{
                  document.write(new Date("{{this.paidDate}}").toLocaleString('en-PH', { 
                      weekday: 'short', 
                      year: 'numeric', 
                      month: 'short', 
                      day: 'numeric', 
                      hour: '2-digit', 
                      minute: '2-digit', 
                      hour12: true 
                  }));
                }
              </script>
              </td>
            </tr>
            {{else}}
        <tr>
            <td colspan="4">No payments found</td>
        </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>
