<div class="dashboard-page">
<h1>Admin Dashboard</h1>

<h2>Occupancy</h2>
<div>
    <h3>Total Rooms: {{totalRooms}}</h3>

    <h3>Occupied Room Types</h3>
    {{#each occupiedRoomsByType}}
        <p>{{@key}}: {{this}}</p>
    {{/each}}

    <h3>Vacant Room Types</h3>
    {{#each vacantRoomsByType}}
        <p>{{@key}}: {{this}}</p>
    {{/each}}

    <h3>Not Ready Room Types</h3>
    {{#each notReadyRoomsByType}}
        <p>{{@key}}: {{this}}</p>
    {{/each}}
</div>

        <div class="card revenue">
            <h2>Revenue Comparison</h2>
            <div>
                <p>Current Month Total Revenue: &#8369; {{currentMonthTotal}}</p>
                <p>Last Month Total Revenue: &#8369; {{lastMonthTotal}}</p>
                <p>Difference: &#8369; {{revenueDifference}}</p>
            </div>
        </div>

    <!-- Yearly Revenue Section -->
        <div class="card yearly">
            <div>
                <h3>Total Revenue for the Year</h3>
                <p>Yearly Total Revenue: &#8369; {{totalYearRevenue}}</p>
            </div>
        </div>


        <div class="card reservations">
            <h2>Reservations</h2>
            <table>
            <thead>
                    <tr>
                        <th>Guest Name</th>
                        <th>Room Type</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each reservations}}
                    <tr>
                        <td>{{this.guestName}}</td>
                        <td>{{this.roomType}}</td>
                        <td>
                            <script>
                                document.write(new Date("{{this.checkIn}}").toLocaleString('en-PH', { 
                                    year: 'numeric', month: 'short', day: 'numeric'}));
                            </script>
                        </td>
                        <td>
                            <script>
                                document.write(new Date("{{this.checkOut}}").toLocaleString('en-PH', { 
                                    year: 'numeric', month: 'short', day: 'numeric'}));
                            </script>
                        </td>
                        <td>{{this.status}}</td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="5">No reservations found.</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>