<div class="edit-booking-page">
    <div class="edit-booking-container">        
        <!-- Edit Form -->
        <h1 class="edit-booking-header">Add Booking</h1>
        <form class="edit-booking-form" method="POST" action="/admin-edit-booking/{{booking._id}}">
            <div class="edit-booking-item">
                <label class="edit-booking-label" for="guestName">Guest Name:</label>
                <input class="edit-booking-input" type="text" id="guestName" name="guestName" value="{{booking.guestName}}" required>
            </div>
            <div class="edit-booking-item">
                <label class="edit-booking-label" for="roomType">Room Type:</label>
                <select class="edit-booking-select" id="roomType" name="roomType" required>
                    <option value="DQ" {{#ifEquals booking.roomType "Deluxe Queen"}}selected{{/ifEquals}}>Deluxe Queen</option>
                    <option value="DT" {{#ifEquals booking.roomType "Deluxe Twin"}}selected{{/ifEquals}}>Deluxe Twin</option>
                    <option value="PRMR" {{#ifEquals booking.roomType "Premiere"}}selected{{/ifEquals}}>Premiere</option>
                    <option value="DORM" {{#ifEquals booking.roomType "Dormitory"}}selected{{/ifEquals}}>Dormitory</option>
                </select>
            </div>
            <div class="edit-booking-item">
                <label class="edit-booking-label" for="roomNum">Room Number:</label>
                <input class="edit-booking-input" type="text" id="roomNum" name="roomNum" value="{{booking.roomNum}}" required>
            </div>
            <div class="edit-booking-item">
                <label class="edit-booking-label" for="checkIn">Check-In:</label>
                <input class="edit-booking-input" type="datetime-local" id="checkIn" name="checkIn" value="{{booking.checkIn}}" required>
            </div>
            <div class="edit-booking-item">
                <label class="edit-booking-label" for="checkOut">Check-Out:</label>
                <input class="edit-booking-input" type="datetime-local" id="checkOut" name="checkOut" value="{{booking.checkOut}}" required>
            </div>
            <div class="edit-booking-item">
                <label class="edit-booking-label" for="adultPax">Number of Adults:</label>
                <input class="edit-booking-input" type="number" id="adultPax" name="adultPax" value="{{booking.adultPax}}" min="1" required>
            </div>
            <div class="edit-booking-item">
                <label class="edit-booking-label" for="kidPax">Number of Kids:</label>
                <input class="edit-booking-input" type="number" id="kidPax" name="kidPax" value="{{booking.kidPax}}" min="0" required>
            </div>
            <div class="edit-booking-buttons">
                <button class="edit-booking-button save-button" type="submit">Save Changes</button>
                <button class="edit-booking-button delete-button" type="button">Delete Booking</button>
            </div>
        </form>
    </div>
</div>
